[user]
	name = Adrian Vogelsgesang
	email = avogelsgesang@salesforce.com
[pull]
	rebase = true
[diff]
	algorithm = histogram
[core]
	editor = vim
[rebase]
	autosquash = true
[alias]
	amend = commit --amend --no-edit -u
	reword = commit --amend --only
[init]
	defaultBranch = main
[merge]
	tool = nvimdiff1
[alias]
   reset-other = "!f() { git show -s refs/heads/$1 -- && git update-ref refs/heads/$1 $2 && git show -s $1; }; f"
